{{#each this}}
<li>
  <div class="video">
    <video controls="controls"  src="{{videos.tiny.url}}" height="{{videos.tiny.height}}"
      width="{{videos.tiny.width}}"></video>
    <div class="list">
      <p class="stats-item">
        <i class="material-icons">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
</li>
{{/each}}